.App {
  text-align: center;
  width: auto;
}

.profImage{
  height: 40vmin;
  border-radius: 10px;
  margin-top: 20px;
}

p{
  width: 40vmin;
  text-align: left;
  margin: auto;
  color: gray;
  font-size: 3vmin;
  font-weight: 600;
  margin-top: 10px;
}

h1{
  width: 40vmin;
  text-align: left;
  margin: auto;
  color: #2ba7d9;
  font-size: 5vmin;
}

h2{
  width: 40vmin;
  text-align: left;
  margin: auto;
}